<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringLocal" value="server=192.168.2.100;database=qdtest;uid=root;pwd=password;charset=utf8;Allow User Variables=True"/>
    <add key= "url" value="123.207.200.7"/>
    <add key= "port" value="21883"/>
    
    <add key= "UserName" value="user"/>
    <add key= "Password" value="123"/>
  </appSettings>
 
  
</configuration>
 